@model BooksWidgetViewModel

@{
    var defaultImageURL = "/Content/images/system/placeholder-image.png";
}

@if (Model != null && Model.Books != null)
{
    <div class="divider h54"></div>
    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 clearfix">

            @foreach (var book in Model.Books)
            {
                var imageURL = string.IsNullOrEmpty(book.ImageURL) ? defaultImageURL : book.ImageURL;

                <li class="product-item">
                    <div class="product-thumb clearfix">
                        <a href="@Url.Action("Detail", "Book", new {ID= book.ID})" class="product-thumb">
                            <img src="@imageURL" alt="image" style="height: 250px;">
                        </a>
                        <span class="new">New</span>
                    </div>
                    <div class="product-info text-center clearfix"style="margin-top:15px">
                        <span class="product-title">
                            @book.Name
                        </span>
                        <div class="price">
                            <ins>
                                <span class="amount">$ @book.Price</span>
                            </ins>
                        </div>
                    </div>
                    <div class="add-to-cart text-center">
                        <a class="bookAddToCart" data-id="@book.ID">ADD TO CART</a>
                    </div>
                </li>
            }
        </ul>
    </div>
}
<script>
    var books;
    $(".bookAddToCart").click(function () {
        var existingCookieData = $.cookie('CartProducts');
        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {
            books = existingCookieData.split('-');
        }
        else {
            books = [];
        }

        var bookID = $(this).attr('data-id');

        books.push(bookID);

        $.cookie('CartProducts', books.join('-'), { path: '/' });
        updateCartProducts();
        swal("Done", "Book Added To Cart.", "success");
    });
</script>